#myDIV{
    background-color: #ce3c3c;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#myDIV2{
    background-color: #ae1c6c;
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#myDIV3{
    background-color: #aeff6c;
    width: 100%;
    display: none;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

